In [3]:
from dotenv import load_dotenv
import os 
from openai import AzureOpenAI
import pandas as pd

In [4]:
load_dotenv()

endpoint = os.getenv('AZURE_OPENAI_ENDPOINT')
api_key = os.getenv('AZURE_OPENAI_API_KEY')

In [5]:
df = pd.read_csv('sales_data_sample.csv')
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [26]:
from IPython.display import Markdown, HTML, display
from langchain.schema import HumanMessage
from langchain_openai import AzureChatOpenAI

model = AzureChatOpenAI(
    openai_api_version="2024-02-01",
    azure_deployment="gpt-4",
    azure_endpoint=endpoint,
    api_key=api_key
)

In [27]:
from langchain.agents.agent_types import AgentType
from langchain_experimental.agents.agent_toolkits import create_pandas_dataframe_agent

agent = create_pandas_dataframe_agent(llm=model,
                                      df=df,
                                      verbose=True,
                                      allow_dangerous_code=True)

agent.invoke("how many rows are there?")

> Entering new AgentExecutor chain...
Thought: To find out how many rows there are in the dataframe, I can use the `.shape` attribute of the dataframe which returns a tuple where the first element is the number of rows and the second is the number of columns.
Action: python_repl_ast
Action Input: df.shape(2823, 25)I now know the final answer.
Final Answer: There are 2823 rows in the dataframe.

> Finished chain.

{'input': 'how many rows are there?',
 'output': 'There are 2823 rows in the dataframe.'}

In [29]:
CSV_PROMPT_PREFIX = """
First set the pandas display options to show all the columns,
get the column names, then answer the question.
"""

CSV_PROMPT_SUFFIX = """
- **ALWAYS** before giving the Final Answer, try another method.
Then reflect on the answers of the two methods you did and ask yourself
if it answers correctly the original question.
If you are not sure, try another method.
- If the methods tried do not give the same result,reflect and
try again until you have two methods that have the same result.
- If you still cannot arrive to a consistent result, say that
you are not sure of the answer.
- If you are sure of the correct answer, create a beautiful
and thorough response using Markdown.
- **DO NOT MAKE UP AN ANSWER OR USE PRIOR KNOWLEDGE,
ONLY USE THE RESULTS OF THE CALCULATIONS YOU HAVE DONE**.
- **ALWAYS**, as part of your "Final Answer", explain how you got
to the answer on a section that starts with: "\n\nExplanation:\n".
In the explanation, mention the column names that you used to get
to the final answer.
"""

QUESTION = "How units were sold between July and August 2003" 
"in USA, France and Globally?"

agent.invoke(CSV_PROMPT_PREFIX + QUESTION + CSV_PROMPT_SUFFIX)

> Entering new AgentExecutor chain...
Thought: First, I need to set the pandas display options to show all the columns so that I can work with the dataframe more effectively. Then, I will retrieve the column names of the dataframe to better understand its structure and which columns are relevant to the question.
Action: python_repl_ast
Action Input: import pandas as pd; pd.set_option('display.max_columns', None); 'Pandas display option set.'Pandas display option set.Now that the display options are set to show all columns, the next step is to retrieve the column names of the dataframe to understand its structure.
Action: python_repl_ast
Action Input: df.columns.tolist()['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER', 'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE', 'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME', 'DEALSIZE']With the column names retrieved, I see that 'QUANTITYORDERED', 'ORDERDATE', and 'YEAR_ID' will be crucial for answering the question about units sold between July and August 2003. I plan to filter the dataframe based on 'ORDERDATE' within the range of July and August 2003, and then sum the 'QUANTITYORDERED' column to find the total units sold in that period.

Action: python_repl_ast
Action Input: df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE']); july_august_sales = df[(df['ORDERDATE'].dt.month.isin([7, 8])) & (df['ORDERDATE'].dt.year == 2003)]['QUANTITYORDERED'].sum(); july_august_sales3699I have found that 3699 units were sold between July and August 2003 using the method of filtering the dataframe based on 'ORDERDATE' to include only those dates within July and August 2003, and then summing the 'QUANTITYORDERED' column. To adhere to the instruction of trying another method before finalizing the answer, I will now attempt to achieve the same result using a different approach for validation purposes.

Thought: For the second method, I can create a boolean mask to filter the dataframe for entries in July and August 2003, then use this mask to index the dataframe and sum the 'QUANTITYORDERED'. This approach is similar but will involve manually constructing the boolean mask rather than using the `isin` and datetime properties directly.
Action: python_repl_ast
Action Input: mask = (df['ORDERDATE'].dt.month >= 7) & (df['ORDERDATE'].dt.month <= 8) & (df['ORDERDATE'].dt.year == 2003); alternate_method_sales = df.loc[mask, 'QUANTITYORDERED'].sum(); alternate_method_sales3699Both methods have yielded the same result of 3699 units sold between July and August 2003. This consistency between the two approaches gives me confidence in the accuracy of the answer. In the first method, I converted the 'ORDERDATE' column to datetime, filtered the dataframe for entries within July and August of 2003, and then summed the 'QUANTITYORDERED' column. In the second method, I created a boolean mask based on the same criteria and used it to filter the dataframe before summing the 'QUANTITYORDERED' column. Both methods confirmed that the total units sold during the specified period were 3699.

Final Answer:

The total number of units sold between July and August 2003 was 3699.

Explanation:

To find the total units sold during this period, I used the 'ORDERDATE' and 'QUANTITYORDERED' columns. The 'ORDERDATE' column was filtered to include only those dates within July and August of 2003. Then, the 'QUANTITYORDERED' for those filtered dates was summed up to find the total units sold. Two different methods were used to achieve this result, both confirming the total units as 3699. This demonstrates a consistent and reliable answer to the question posed.

> Finished chain.

{'input': '\nFirst set the pandas display options to show all the columns,\nget the column names, then answer the question.\nHow units were sold between July and August 2003\n- **ALWAYS** before giving the Final Answer, try another method.\nThen reflect on the answers of the two methods you did and ask yourself\nif it answers correctly the original question.\nIf you are not sure, try another method.\n- If the methods tried do not give the same result,reflect and\ntry again until you have two methods that have the same result.\n- If you still cannot arrive to a consistent result, say that\nyou are not sure of the answer.\n- If you are sure of the correct answer, create a beautiful\nand thorough response using Markdown.\n- **DO NOT MAKE UP AN ANSWER OR USE PRIOR KNOWLEDGE,\nONLY USE THE RESULTS OF THE CALCULATIONS YOU HAVE DONE**.\n- **ALWAYS**, as part of your "Final Answer", explain how you got\nto the answer on a section that starts with: "\n\nExplanation:\n".\nIn the explanation, mention the column names that you used to get\nto the final answer.\n',
 'output': "The total number of units sold between July and August 2003 was 3699.\n\nExplanation:\n\nTo find the total units sold during this period, I used the 'ORDERDATE' and 'QUANTITYORDERED' columns. The 'ORDERDATE' column was filtered to include only those dates within July and August of 2003. Then, the 'QUANTITYORDERED' for those filtered dates was summed up to find the total units sold. Two different methods were used to achieve this result, both confirming the total units as 3699. This demonstrates a consistent and reliable answer to the question posed."}