In [7]:
from dotenv import load_dotenv
import os 
from openai import AzureOpenAI
import pandas as pd

In [8]:
load_dotenv()

endpoint = os.getenv('AZURE_OPENAI_ENDPOINT')
api_key = os.getenv('AZURE_OPENAI_API_KEY')

In [ ]:
%pip install pyodbc

In [ ]:
%sudo apt install unixodbc

In [52]:
import pyodbc
from sqlalchemy import create_engine
import urllib
import pandas as pd

server = os.getenv('AZURE_SQL_SERVER') 
database = os.getenv('AZURE_SQL_DB_NAME')
username = os.getenv('AZURE_SQL_USER') 
password = os.getenv('AZURE_SQL_PASSWORD') 

connection_string = f'Driver={{ODBC Driver 18 for SQL Server}};Server=tcp:{server},1433;Database={database};Uid={username};Pwd={password};Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;'

params = urllib.parse.quote_plus(connection_string)
conn_str = 'mssql+pyodbc:///?odbc_connect={}'.format(params)
engine_azure = create_engine(conn_str,echo=True)

In [17]:
df = pd.read_csv('sales_data_sample.csv')
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [18]:
df.to_sql(
    'sales_data',
    engine_azure
)

2024-07-01 17:00:46,696 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-01 17:00:46,714 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-07-01 17:00:46,715 INFO sqlalchemy.engine.Engine [cached since 413.3s ago] ('BASE TABLE', 'VIEW', 'sales_data', 'dbo')
2024-07-01 17:00:46,901 INFO sqlalchemy.engine.Engine
CREATE TABLE sales_data (
	[index] BIGINT NULL,
	[ORDERNUMBER] BIGINT NULL,
	[QUANTITYORDERED] BIGINT NULL,
	[PRICEEACH] FLOAT(53) NULL,
	[ORDERLINENUMBER] BIGINT NULL,
	[SALES] FLOAT(53) NULL,
	[ORDERDATE] VARCHAR(max) NULL,
	[STATUS] VARCHAR(max) NULL,
	[QTR_ID] BIGINT NULL,
	[MONTH_ID] BIGINT NULL,
	[YEAR_ID] BIGINT NULL,
	[PRODUCTLINE] VARCHAR(max) NULL,
	[MSRP] BIGINT NULL,
	[PRODUCTCODE] VARCHAR(max) NULL,
	[CUSTOMERNAME] VARCHAR(max) NULL,
	[PHONE] VARCHAR(max) NULL,
	[ADDRESSLINE1] VARCHAR(max) NULL,
	[ADDRESSLINE2] VARCHAR(max) NULL,
	[CITY] VARCHAR(max) NULL,
	[STATE] VARCHAR(max) NULL,
	[POSTALCODE] VARCHAR(max) NULL,
	[COUNTRY] VARCHAR(max) NULL,
	[TERRITORY] VARCHAR(max) NULL,
	[CONTACTLASTNAME] VARCHAR(max) NULL,
	[CONTACTFIRSTNAME] VARCHAR(max) NULL,
	[DEALSIZE] VARCHAR(max) NULL
)


2024-07-01 17:00:46,902 INFO sqlalchemy.engine.Engine [no key 0.00096s] ()
2024-07-01 17:00:46,982 INFO sqlalchemy.engine.Engine CREATE INDEX ix_sales_data_index ON sales_data ([index])
2024-07-01 17:00:46,983 INFO sqlalchemy.engine.Engine [no key 0.00086s] ()
2024-07-01 17:00:47,180 INFO sqlalchemy.engine.Engine INSERT INTO sales_data ([index], [ORDERNUMBER], [QUANTITYORDERED], [PRICEEACH], [ORDERLINENUMBER], [SALES], [ORDERDATE], [STATUS], [QTR_ID], [MONTH_ID], [YEAR_ID], [PRODUCTLINE], [MSRP], [PRODUCTCODE], [CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [ADDRES ... 6420 characters truncated ... ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-07-01 17:00:47,181 INFO sqlalchemy.engine.Engine [generated in 0.10406s (insertmanyvalues) 1/36 (unordered)] (0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small', 1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot' ... 1980 parameters truncated ... 45, 100.0, 1, 5833.8, '4/7/2005 0:00', 'Shipped', 2, 4, 2005, 'Motorcycles', 118, 'S10_2016', 'Auto Canal Petit', '(1) 47.55.6555', '25, rue Lauriston', None, 'Paris', None, '75016', 'France', 'EMEA', 'Perrier', 'Dominique', 'Medium', 79, 10417, 45, 100.0, 5, 5887.35, '5/13/2005 0:00', 'Disputed', 2, 5, 2005, 'Motorcycles', 118, 'S10_2016', 'Euro Shopping Channel', '(91) 555 94 44', 'C/ Moralzarzal, 86', None, 'Madrid', None, '28034', 'Spain', 'EMEA', 'Freyre', 'Diego', 'Medium')
2024-07-01 17:00:48,036 INFO sqlalchemy.engine.Engine INSERT INTO sales_data ([index], [ORDERNUMBER], [QUANTITYORDERED], [PRICEEACH], [ORDERLINENUMBER], [SALES], [ORDERDATE], [STATUS], [QTR_ID], [MONTH_ID], [YEAR_ID], [PRODUCTLINE], [MSRP], [PRODUCTCODE], [CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [ADDRES ... 6420 characters truncated ... ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-07-01 17:00:48,036 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/36 (unordered)] (80, 10107, 27, 100.0, 4, 6065.55, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 193, 'S10_4698', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Medium', 81, 10120, 46, 100.0, 2, 9264.86, '4/29/2003 0:00', 'Shipped', 2, 4, 2003, 'Motorcycles', 193, 'S10_4698', 'Australian Collectors, Co.', '03 9520 4555', '636 St Kilda Road', 'Level 3', 'Melbourne', 'Victoria', '3004', 'Australia', 'APAC', 'Ferguson' ... 1980 parameters truncated ... 37, 46.9, 7, 1735.3, '3/9/2005 0:00', 'Shipped', 1, 3, 2005, 'Classic Cars', 147, 'S10_4962', "Anna's Decorations, Ltd", '02 9936 8555', '201 Miller Street', 'Level 15', 'North Sydney', 'NSW', '2060', 'Australia', 'APAC', "O'Hara", 'Anna', 'Small', 159, 10411, 27, 100.0, 2, 4427.73, '5/1/2005 0:00', 'Shipped', 2, 5, 2005, 'Classic Cars', 147, 'S10_4962', 'Quebec Home Shopping Network', '(514) 555-8054', '43 rue St. Laurent', None, 'Montreal', 'Quebec', 'H1J 1C3', 'Canada', None, 'Fresnisre', 'Jean', 'Medium')
2024-07-01 17:00:48,345 INFO sqlalchemy.engine.Engine INSERT INTO sales_data ([index], [ORDERNUMBER], [QUANTITYORDERED], [PRICEEACH], [ORDERLINENUMBER], [SALES], [ORDERDATE], [STATUS], [QTR_ID], [MONTH_ID], [YEAR_ID], [PRODUCTLINE], [MSRP], [PRODUCTCODE], [CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [ADDRES ... 6420 characters truncated ... ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-07-01 17:00:48,346 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/36 (unordered)] (160, 10425, 38, 100.0, 12, 5894.94, '5/31/2005 0:00', 'In Process', 2, 5, 2005, 'Classic Cars', 147, 'S10_4962', 'La Rochelle Gifts', '40.67.8555', '67, rue des Cinquante Otages', None, 'Nantes', None, '44000', 'France', 'EMEA', 'Labrune', 'Janine', 'Medium', 161, 10108, 33, 100.0, 6, 5265.15, '3/3/2003 0:00', 'Shipped', 1, 3, 2003, 'Classic Cars', 194, 'S12_1099', 'Cruz & Sons Co.', '+63 2 555 3587', '15 McCallum Street - NatWest Center #13-03', None, 'Makati City', None, '1227 MM', 'Philippines', 'Japan', 'Cruz' ... 1980 parameters truncated ... 40, 100.0, 6, 6232.0, '5/1/2005 0:00', 'Shipped', 2, 5, 2005, 'Trucks and Buses', 136, 'S12_1666', 'Quebec Home Shopping Network', '(514) 555-8054', '43 rue St. Laurent', None, 'Montreal', 'Quebec', 'H1J 1C3', 'Canada', None, 'Fresnisre', 'Jean', 'Medium', 239, 10424, 49, 100.0, 3, 7969.36, '5/31/2005 0:00', 'In Process', 2, 5, 2005, 'Trucks and Buses', 136, 'S12_1666', 'Euro Shopping Channel', '(91) 555 94 44', 'C/ Moralzarzal, 86', None, 'Madrid', None, '28034', 'Spain', 'EMEA', 'Freyre', 'Diego', 'Large')
2024-07-01 17:00:48,564 INFO sqlalchemy.engine.Engine INSERT INTO sales_data ([index], [ORDERNUMBER], [QUANTITYORDERED], [PRICEEACH], [ORDERLINENUMBER], [SALES], [ORDERDATE], [STATUS], [QTR_ID], [MONTH_ID], [YEAR_ID], [PRODUCTLINE], [MSRP], [PRODUCTCODE], [CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [ADDRES ... 6420 characters truncated ... ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-07-01 17:00:48,565 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/36 (unordered)] (240, 10107, 21, 100.0, 1, 3036.6, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 150, 'S12_2823', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Medium', 241, 10121, 50, 100.0, 4, 8284.0, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 150, 'S12_2823', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot' ... 1980 parameters truncated ... 42, 100.0, 1, 8138.76, '6/3/2003 0:00', 'Shipped', 2, 6, 2003, 'Classic Cars', 173, 'S12_3891', 'Muscle Machine Inc', '2125557413', '4092 Furth Circle', 'Suite 400', 'NYC', 'NY', '10022', 'USA', None, 'Young', 'Jeff', 'Large', 319, 10142, 46, 100.0, 11, 9470.94, '8/8/2003 0:00', 'Shipped', 3, 8, 2003, 'Classic Cars', 173, 'S12_3891', 'Mini Gifts Distributors Ltd.', '4155551450', '5677 Strong St.', None, 'San Rafael', 'CA', '97562', 'USA', None, 'Nelson', 'Valarie', 'Large')
2024-07-01 17:00:48,782 INFO sqlalchemy.engine.Engine INSERT INTO sales_data ([index], [ORDERNUMBER], [QUANTITYORDERED], [PRICEEACH], [ORDERLINENUMBER], [SALES], [ORDERDATE], [STATUS], [QTR_ID], [MONTH_ID], [YEAR_ID], [PRODUCTLINE], [MSRP], [PRODUCTCODE], [CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [ADDRES ... 6420 characters truncated ... ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-07-01 17:00:48,783 INFO sqlalchemy.engine.Engine [insertmanyvalues 5/36 (unordered)] (320, 10153, 49, 100.0, 10, 7036.89, '9/28/2003 0:00', 'Shipped', 3, 9, 2003, 'Classic Cars', 173, 'S12_3891', 'Euro Shopping Channel', '(91) 555 94 44', 'C/ Moralzarzal, 86', None, 'Madrid', None, '28034', 'Spain', 'EMEA', 'Freyre', 'Diego', 'Large', 321, 10165, 27, 100.0, 2, 5559.03, '10/22/2003 0:00', 'Shipped', 4, 10, 2003, 'Classic Cars', 173, 'S12_3891', 'Dragon Souveniers, Ltd.', '+65 221 7555', 'Bronz Sok., Bronz Apt. 3/6 Tesvikiye', None, 'Singapore', None, '79903', 'Singapore', 'Japan', 'Natividad' ... 1980 parameters truncated ... 50, 100.0, 5, 5182.0, '10/11/2003 0:00', 'Shipped', 4, 10, 2003, 'Classic Cars', 115, 'S12_4675', "Men 'R' US Retailers, Ltd.", '2155554369', '6047 Douglas Av.', None, 'Los Angeles', 'CA', None, 'USA', None, 'Chandler', 'Michael', 'Medium', 399, 10170, 41, 100.0, 3, 4391.1, '11/4/2003 0:00', 'Shipped', 4, 11, 2003, 'Classic Cars', 115, 'S12_4675', 'Mini Auto Werke', '7675-3555', 'Kirchgasse 6', None, 'Graz', None, '8010', 'Austria', 'EMEA', 'Mendel', 'Roland', 'Medium')
2024-07-01 17:00:48,990 INFO sqlalchemy.engine.Engine INSERT INTO sales_data ([index], [ORDERNUMBER], [QUANTITYORDERED], [PRICEEACH], [ORDERLINENUMBER], [SALES], [ORDERDATE], [STATUS], [QTR_ID], [MONTH_ID], [YEAR_ID], [PRODUCTLINE], [MSRP], [PRODUCTCODE], [CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [ADDRES ... 6420 characters truncated ... ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-07-01 17:00:48,992 INFO sqlalchemy.engine.Engine [insertmanyvalues 6/36 (unordered)] (400, 10181, 36, 100.0, 11, 4477.32, '11/12/2003 0:00', 'Shipped', 4, 11, 2003, 'Classic Cars', 115, 'S12_4675', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium', 401, 10192, 27, 100.0, 16, 3544.56, '11/20/2003 0:00', 'Shipped', 4, 11, 2003, 'Classic Cars', 115, 'S12_4675', 'Online Diecast Creations Co.', '6035558647', '2304 Long Airport Avenue', None, 'Nashua', 'NH', '62005', 'USA', None, 'Young' ... 1980 parameters truncated ... 31, 100.0, 7, 3184.94, '7/16/2003 0:00', 'Shipped', 3, 7, 2003, 'Vintage Cars', 102, 'S18_1342', 'Souveniers And Things Co.', '+61 2 9495 8555', 'Monitor Money Building, 815 Pacific Hwy', 'Level 6', 'Chatswood', 'NSW', '2067', 'Australia', 'APAC', 'Huxley', 'Adrian', 'Medium', 479, 10149, 50, 100.0, 4, 5907.5, '9/12/2003 0:00', 'Shipped', 3, 9, 2003, 'Vintage Cars', 102, 'S18_1342', 'Signal Collectibles Ltd.', '4155554312', '2793 Furth Circle', None, 'Brisbane', 'CA', '94217', 'USA', None, 'Taylor', 'Sue', 'Medium')
2024-07-01 17:00:49,197 INFO sqlalchemy.engine.Engine INSERT INTO sales_data ([index], [ORDERNUMBER], [QUANTITYORDERED], [PRICEEACH], [ORDERLINENUMBER], [SALES], [ORDERDATE], [STATUS], [QTR_ID], [MONTH_ID], [YEAR_ID], [PRODUCTLINE], [MSRP], [PRODUCTCODE], [CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [ADDRES ... 6420 characters truncated ... ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-07-01 17:00:49,198 INFO sqlalchemy.engine.Engine [insertmanyvalues 7/36 (unordered)] (480, 10162, 48, 91.44, 2, 4389.12, '10/18/2003 0:00', 'Shipped', 4, 10, 2003, 'Vintage Cars', 102, 'S18_1342', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium', 481, 10173, 43, 100.0, 6, 5036.16, '11/5/2003 0:00', 'Shipped', 4, 11, 2003, 'Vintage Cars', 102, 'S18_1342', 'Rovelli Gifts', '035-640555', 'Via Ludovico il Moro 22', None, 'Bergamo', None, '24100', 'Italy', 'EMEA', 'Rovelli' ... 1980 parameters truncated ... 42, 100.0, 4, 6490.68, '11/8/2003 0:00', 'Shipped', 4, 11, 2003, 'Planes', 157, 'S18_1662', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Medium', 559, 10186, 32, 100.0, 1, 6004.8, '11/14/2003 0:00', 'Shipped', 4, 11, 2003, 'Planes', 157, 'S18_1662', 'Double Decker Gift Stores, Ltd', '(171) 555-7555', '120 Hanover Sq.', None, 'London', None, 'WA1 1DP', 'UK', 'EMEA', 'Hardy', 'Thomas', 'Medium')
2024-07-01 17:00:49,400 INFO sqlalchemy.engine.Engine INSERT INTO sales_data ([index], [ORDERNUMBER], [QUANTITYORDERED], [PRICEEACH], [ORDERLINENUMBER], [SALES], [ORDERDATE], [STATUS], [QTR_ID], [MONTH_ID], [YEAR_ID], [PRODUCTLINE], [MSRP], [PRODUCTCODE], [CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [ADDRES ... 6420 characters truncated ... ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-07-01 17:00:49,401 INFO sqlalchemy.engine.Engine [insertmanyvalues 8/36 (unordered)] (560, 10198, 42, 100.0, 4, 7483.98, '11/27/2003 0:00', 'Shipped', 4, 11, 2003, 'Planes', 157, 'S18_1662', 'Cruz & Sons Co.', '+63 2 555 3587', '15 McCallum Street - NatWest Center #13-03', None, 'Makati City', None, '1227 MM', 'Philippines', 'Japan', 'Cruz', 'Arnold', 'Large', 561, 10210, 31, 100.0, 17, 5719.5, '1/12/2004 0:00', 'Shipped', 1, 1, 2004, 'Planes', 157, 'S18_1662', 'Osaka Souveniers Co.', '+81 06 6342 5555', 'Dojima Avanza 4F, 1-6-20 Dojima, Kita-ku', None, 'Osaka', 'Osaka', '530-0003', 'Japan', 'Japan', 'Kentary' ... 1980 parameters truncated ... 33, 100.0, 4, 4459.62, '6/1/2004 0:00', 'Cancelled', 2, 6, 2004, 'Classic Cars', 142, 'S18_1984', 'UK Collectables, Ltd.', '(171) 555-2282', 'Berkeley Gardens 12  Brewery', None, 'Liverpool', None, 'WX1 6LT', 'UK', 'EMEA', 'Devon', 'Elizabeth', 'Medium', 639, 10266, 49, 100.0, 5, 6203.4, '7/6/2004 0:00', 'Shipped', 3, 7, 2004, 'Classic Cars', 142, 'S18_1984', "L'ordine Souveniers", '0522-556555', 'Strada Provinciale 124', None, 'Reggio Emilia', None, '42100', 'Italy', 'EMEA', 'Moroni', 'Maurizio', 'Medium')
2024-07-01 17:00:49,627 INFO sqlalchemy.engine.Engine INSERT INTO sales_data ([index], [ORDERNUMBER], [QUANTITYORDERED], [PRICEEACH], [ORDERLINENUMBER], [SALES], [ORDERDATE], [STATUS], [QTR_ID], [MONTH_ID], [YEAR_ID], [PRODUCTLINE], [MSRP], [PRODUCTCODE], [CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [ADDRES ... 6420 characters truncated ... ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-07-01 17:00:49,628 INFO sqlalchemy.engine.Engine [insertmanyvalues 9/36 (unordered)] (640, 10278, 29, 100.0, 5, 3754.05, '8/6/2004 0:00', 'Shipped', 3, 8, 2004, 'Classic Cars', 142, 'S18_1984', 'Signal Gift Stores', '7025551838', '8489 Strong St.', None, 'Las Vegas', 'NV', '83030', 'USA', None, 'King', 'Sue', 'Medium', 641, 10287, 24, 100.0, 3, 3516.48, '8/30/2004 0:00', 'Shipped', 3, 8, 2004, 'Classic Cars', 142, 'S18_1984', 'Vida Sport, Ltd', '0897-034555', 'Grenzacherweg 237', None, 'Gensve', None, '1203', 'Switzerland', 'EMEA', 'Holz' ... 1980 parameters truncated ... 36, 100.0, 8, 4816.08, '10/13/2004 0:00', 'Shipped', 4, 10, 2004, 'Trucks and Buses', 122, 'S18_2319', "Marta's Replicas Co.", '6175558555', '39323 Spinnaker Dr.', None, 'Cambridge', 'MA', '51247', 'USA', None, 'Hernandez', 'Marta', 'Medium', 719, 10313, 29, 100.0, 2, 3416.78, '10/22/2004 0:00', 'Shipped', 4, 10, 2004, 'Trucks and Buses', 122, 'S18_2319', 'Canadian Gift Exchange Network', '(604) 555-3392', '1900 Oak St.', None, 'Vancouver', 'BC', 'V3F 2K1', 'Canada', None, 'Tannamuri', 'Yoshi', 'Medium')
2024-07-01 17:00:49,836 INFO sqlalchemy.engine.Engine INSERT INTO sales_data ([index], [ORDERNUMBER], [QUANTITYORDERED], [PRICEEACH], [ORDERLINENUMBER], [SALES], [ORDERDATE], [STATUS], [QTR_ID], [MONTH_ID], [YEAR_ID], [PRODUCTLINE], [MSRP], [PRODUCTCODE], [CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [ADDRES ... 6420 characters truncated ... ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-07-01 17:00:49,837 INFO sqlalchemy.engine.Engine [insertmanyvalues 10/36 (unordered)] (720, 10324, 33, 37.48, 10, 1236.84, '11/5/2004 0:00', 'Shipped', 4, 11, 2004, 'Trucks and Buses', 122, 'S18_2319', 'Vitachrome Inc.', '2125551500', '2678 Kingston Rd.', 'Suite 101', 'NYC', 'NY', '10022', 'USA', None, 'Frick', 'Michael', 'Small', 721, 10334, 46, 100.0, 6, 5814.86, '11/19/2004 0:00', 'On Hold', 4, 11, 2004, 'Trucks and Buses', 122, 'S18_2319', 'Volvo Model Replicas, Co', '0921-12 3555', 'Berguvsv�gen  8', None, 'Lule', None, 'S-958 22', 'Sweden', 'EMEA', 'Berglund' ... 1980 parameters truncated ... 27, 100.0, 1, 3515.67, '12/4/2004 0:00', 'Shipped', 4, 12, 2004, 'Planes', 84, 'S18_2581', 'Gift Ideas Corp.', '2035554407', '2440 Pompton St.', None, 'Glendale', 'CT', '97561', 'USA', None, 'Lewis', 'Dan', 'Medium', 799, 10374, 42, 69.27, 2, 2909.34, '2/2/2005 0:00', 'Shipped', 1, 2, 2005, 'Planes', 84, 'S18_2581', 'Australian Gift Network, Co', '61-7-3844-6555', '31 Duncan St. West End', None, 'South Brisbane', 'Queensland', '4101', 'Australia', 'APAC', 'Calaghan', 'Tony', 'Small')
2024-07-01 17:00:50,036 INFO sqlalchemy.engine.Engine INSERT INTO sales_data ([index], [ORDERNUMBER], [QUANTITYORDERED], [PRICEEACH], [ORDERLINENUMBER], [SALES], [ORDERDATE], [STATUS], [QTR_ID], [MONTH_ID], [YEAR_ID], [PRODUCTLINE], [MSRP], [PRODUCTCODE], [CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [ADDRES ... 6420 characters truncated ... ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-07-01 17:00:50,037 INFO sqlalchemy.engine.Engine [insertmanyvalues 11/36 (unordered)] (800, 10386, 21, 74.77, 18, 1570.17, '3/1/2005 0:00', 'Resolved', 1, 3, 2005, 'Planes', 84, 'S18_2581', 'Euro Shopping Channel', '(91) 555 94 44', 'C/ Moralzarzal, 86', None, 'Madrid', None, '28034', 'Spain', 'EMEA', 'Freyre', 'Diego', 'Small', 801, 10398, 34, 76.88, 15, 2613.92, '3/30/2005 0:00', 'Shipped', 1, 3, 2005, 'Planes', 84, 'S18_2581', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot' ... 1980 parameters truncated ... 29, 100.0, 5, 5127.2, '2/10/2005 0:00', 'Shipped', 1, 2, 2005, 'Classic Cars', 132, 'S18_2870', 'Euro Shopping Channel', '(91) 555 94 44', 'C/ Moralzarzal, 86', None, 'Madrid', None, '28034', 'Spain', 'EMEA', 'Freyre', 'Diego', 'Medium', 879, 10407, 41, 100.0, 12, 6386.16, '4/22/2005 0:00', 'On Hold', 2, 4, 2005, 'Classic Cars', 132, 'S18_2870', 'The Sharp Gifts Warehouse', '4085553659', '3086 Ingle Ln.', None, 'San Jose', 'CA', '94217', 'USA', None, 'Frick', 'Sue', 'Medium')
2024-07-01 17:00:50,270 INFO sqlalchemy.engine.Engine INSERT INTO sales_data ([index], [ORDERNUMBER], [QUANTITYORDERED], [PRICEEACH], [ORDERLINENUMBER], [SALES], [ORDERDATE], [STATUS], [QTR_ID], [MONTH_ID], [YEAR_ID], [PRODUCTLINE], [MSRP], [PRODUCTCODE], [CUSTOMERNAME], [PHONE], [ADDRESSLINE1], [ADDRES ... 6420 characters truncated ... ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

23

In [53]:
# verify that the table was written
query = """select COLUMN_NAME, DATA_TYPE
  from information_schema.columns 
 where table_name = 'sales_data'
 order by ordinal_position"""
df2 = pd.read_sql(query, engine_azure)
df2.head()

2024-07-02 15:38:45,591 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2024-07-02 15:38:45,596 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-02 15:38:45,695 INFO sqlalchemy.engine.Engine SELECT schema_name()
2024-07-02 15:38:45,696 INFO sqlalchemy.engine.Engine [generated in 0.00256s] ()
2024-07-02 15:38:46,012 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2024-07-02 15:38:46,014 INFO sqlalchemy.engine.Engine [generated in 0.00211s] ()
2024-07-02 15:38:46,092 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2024-07-02 15:38:46,093 INFO sqlalchemy.engine.Engine [generated in 0.00105s] ()
2024-07-02 15:38:46,352 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-02 15:38:46,354 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-07-02 15:38:46,355 INFO sqlalchemy.engine.Engine [generated in 0.00297s] ('BASE TABLE', 'VIEW', "select COLUMN_NAME, DATA_TYPE\n  from information_schema.columns \n where table_name = 'sales_data'\n order by ordinal_position", 'dbo')
2024-07-02 15:38:46,532 INFO sqlalchemy.engine.Engine select COLUMN_NAME, DATA_TYPE
  from information_schema.columns
 where table_name = 'sales_data'
 order by ordinal_position
2024-07-02 15:38:46,533 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-02 15:38:46,690 INFO sqlalchemy.engine.Engine ROLLBACK

       COLUMN_NAME DATA_TYPE
0            index    bigint
1      ORDERNUMBER    bigint
2  QUANTITYORDERED    bigint
3        PRICEEACH     float
4  ORDERLINENUMBER    bigint

In [26]:
print(df2.to_string())

         COLUMN_NAME DATA_TYPE
0              index    bigint
1        ORDERNUMBER    bigint
2    QUANTITYORDERED    bigint
3          PRICEEACH     float
4    ORDERLINENUMBER    bigint
5              SALES     float
6          ORDERDATE   varchar
7             STATUS   varchar
8             QTR_ID    bigint
9           MONTH_ID    bigint
10           YEAR_ID    bigint
11       PRODUCTLINE   varchar
12              MSRP    bigint
13       PRODUCTCODE   varchar
14      CUSTOMERNAME   varchar
15             PHONE   varchar
16      ADDRESSLINE1   varchar
17      ADDRESSLINE2   varchar
18              CITY   varchar
19             STATE   varchar
20        POSTALCODE   varchar
21           COUNTRY   varchar
22         TERRITORY   varchar
23   CONTACTLASTNAME   varchar
24  CONTACTFIRSTNAME   varchar
25          DEALSIZE   varchar

In [30]:
import json

client = AzureOpenAI(
    azure_endpoint=endpoint,
    api_key=api_key,
    api_version='2024-02-01'
)

deployment_name ='gpt-4o-global'

def query_azure_sql(query):
    """Run a SQL query on Azure SQL and return results as a pandas DataFrame"""
    print(f"Executing query on Azure SQL: {query}")
    df = pd.read_sql(query, engine_azure)
    return json.dumps(df.to_dict(orient='records'))


tools = [
        {
            "type": "function",
            "function": {
                "name": "query_azure_sql",
                "description": "Execute a SQL query to retrieve information from a database",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "query": {
                            "type": "string",
                            "description": "The SQL query to execute",
                        },
                    },
                    "required": ["query"],
                },
            }
        }
    ]

messages = [
    {"role":"system", "content":"""You are a helpful AI data analyst assistant, 
     You can execute SQL queries to retrieve information from a sql table, the table name is sales_data
     Here is the table schema
              COLUMN_NAME DATA_TYPE
0              index    bigint
1        ORDERNUMBER    bigint
2    QUANTITYORDERED    bigint
3          PRICEEACH     float
4    ORDERLINENUMBER    bigint
5              SALES     float
6          ORDERDATE   varchar
7             STATUS   varchar
8             QTR_ID    bigint
9           MONTH_ID    bigint
10           YEAR_ID    bigint
11       PRODUCTLINE   varchar
12              MSRP    bigint
13       PRODUCTCODE   varchar
14      CUSTOMERNAME   varchar
15             PHONE   varchar
16      ADDRESSLINE1   varchar
17      ADDRESSLINE2   varchar
18              CITY   varchar
19             STATE   varchar
20        POSTALCODE   varchar
21           COUNTRY   varchar
22         TERRITORY   varchar
23   CONTACTLASTNAME   varchar
24  CONTACTFIRSTNAME   varchar
25          DEALSIZE   varchar
     
     """},
    {"role": "user", "content": "What's the total sales revenue in the USA?"} 
]

response = client.chat.completions.create(
        model=deployment_name,
        messages=messages,
        tools=tools,
        tool_choice="auto",
    )

    # Process the model's response
response_message = response.choices[0].message
messages.append(response_message)

print("Model's response:")  
print(response_message)

Model's response:
ChatCompletionMessage(content=None, role='assistant', function_call=None, tool_calls=[ChatCompletionMessageToolCall(id='call_diEjqbeb7XClJmbHA0TQs7xX', function=Function(arguments='{\n  "query": "SELECT SUM(SALES) as total_sales_revenue FROM sales_data WHERE COUNTRY = \'USA\'"\n}', name='query_azure_sql'), type='function')])

In [31]:
if response_message.tool_calls:
    for tool_call in response_message.tool_calls:
        if tool_call.function.name == "query_azure_sql":
            function_args = json.loads(tool_call.function.arguments)
            print(f"Function arguments: {function_args}")  
            sql_response = query_azure_sql(
                    function_args.get("query")
                )
            messages.append({
                    "tool_call_id": tool_call.id,
                    "role": "tool",
                    "name": "query_azure_sql",
                    "content": sql_response,
                })
else:
    print("No tool calls were made by the model.")  

    # Second API call: Get the final response from the model
final_response = client.chat.completions.create(
        model=deployment_name,
        messages=messages,
    )

print(final_response.choices[0].message.content)

Function arguments: {'query': "SELECT SUM(SALES) as total_sales_revenue FROM sales_data WHERE COUNTRY = 'USA'"}
Executing query on Azure SQL: SELECT SUM(SALES) as total_sales_revenue FROM sales_data WHERE COUNTRY = 'USA'
2024-07-01 17:53:32,789 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-07-01 17:53:32,794 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2024-07-01 17:53:32,796 INFO sqlalchemy.engine.Engine [cached since 811.5s ago] ('BASE TABLE', 'VIEW', "SELECT SUM(SALES) as total_sales_revenue FROM sales_data WHERE COUNTRY = 'USA'", 'dbo')

2024-07-01 17:53:32,953 INFO sqlalchemy.engine.Engine SELECT SUM(SALES) as total_sales_revenue FROM sales_data WHERE COUNTRY = 'USA'
2024-07-01 17:53:32,954 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-07-01 17:53:33,039 INFO sqlalchemy.engine.Engine ROLLBACK
The total sales revenue in the USA is $3,627,982.83.

In [51]:
import asyncio


stream = client.chat.completions.create(
        model='gpt-4o-global',
        messages=[
            {'role': 'user', 'content': "If Paris wasn't the capital of France, what city would be and why?"}
        ],
        stream=True,
        temperature=0 # this time, we set stream=True
    )


async def print_stream_chunks(stream):
    for chunk in stream:
        if chunk.choices and chunk.choices[0].delta.content is not None:
            print(chunk.choices[0].delta.content, end="", flush=True)
        await asyncio.sleep(0.1)


loop = asyncio.get_event_loop()
loop.run_until_complete(print_stream_chunks(stream))

/home/vhoudebine/miniconda3/envs/openai/lib/python3.11/ast.py:50: RuntimeWarning: coroutine 'run_conversation.<locals>.print_stream_chunks' was never awaited
  return compile(source, filename, mode, flags,
RuntimeWarning: Enable tracemalloc to get the object allocation traceback

RuntimeError: This event loop is already running